:root {
--oscuro-principal: #26428b;
--claro-principal: #daa520;
--gris-oscuro: #343434;
--fondo-oscuro: #010203;
--fondo-claro: #e5e4e2;
--resaltar: #fe3c71;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Share Tech Mono', monospace;
}

#board, .boardInfo {
  max-width: 500px;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo {
  font-size: 1.5rem;
}

#gameOver {
  display: none;
}

.boardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

#start {
  background-color: var(--resaltar);
  border: none;
  color: var(--fondo-claro);
  border-radius: 0.5rem;
}

#scoreBoard {
  display:  inline-flex;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: var(--oscuro-principal);
}

.snakeSquare {
  background-color: var(--claro-principal);
}

.foodSquare {
  background-color: var(--resaltar);
}


  