/* Universal Reset CSS */

/*
Cornell Note:
- Notes: 
- Questions:
  - how to make the grandma image responsive?
  - how to reorganize the elements when the screen is smaller?
- Summary:
*/

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Define CSS variables */
:root {  
  --color-principal: #234078;  
  --color-decoracion: #d19c1d;  
  --color-oscuro: #070707;  
  --color-claro: #e1e1e1;  
  --gris: #323232;  
  --gris-transparente: rgba(50, 50, 50, 0.4);
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Remove text decoration */
a {
  text-decoration: none;
}

/* Remove outline on focus */
:focus {
  outline: none;
}

/* Set default font family and size */
body {
  font-family: Oswald, sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url(assets/eD_blurred.png) no-repeat center center/cover;
}

.container {
  padding: 5px;
  width: 400px;
  height: 200px;
  background-color: var(--color-principal);
  border-radius: 1em;
}

