/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

/* Global CSS variables */
:root {
  --oscuro-principal: #26428b;
  --claro-principal: #daa520;
  --gris-oscuro: #343434;
  --fondo-oscuro: #010203;
  --fondo-claro: #e5e4e2;
  --resaltar: #fe3c71;
}

/* Resetting default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  margin-top: 5rem;
  font-family: Arial, sans-serif;
  background-color: var(--fondo-claro);
}

/* Header styles */
header {
  background-color: var(--oscuro-principal);
  color: var(--fondo-claro);
  padding: 1rem;

  box-shadow: 3px 3px 7px -4px rgba(0,0,0,0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Search styles */

#leftSide {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 50%;
}

#inputSearch {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Caveat', cursive;
  background-color: var(--fondo-claro);
  opacity: 0.8;

  margin-left: 0.5rem;
  min-width: 10rem;
  width: 70%;
}


#btnSearch {
  border: none;
  border-radius: 7rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Caveat', cursive;
  height: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: var(--oscuro-principal);
  color: var(--fondo-oscuro);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 7px -4px rgba(0,0,0,0.75);
  margin-left: 0.5rem;
  height: 2rem;
  width: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#btnSearch:hover {
  background-color: var(--fondo-oscuro);
  color: var(--fondo-claro);
}

#rightSide {
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* Heading styles */
h1 {
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 3rem;
  font-family: 'Caveat', cursive;
}

/* Logo styles */
#icono {
  top: 0;
  left: 0;
  width: 60px;
  opacity: 0.6;
}



/* Container styles */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

/* Recipe list styles */
.recipeList {
  list-style: none;
}

/* Recipe item styles */
.recipeItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 1.2rem;
  background: #e5e4e2;
  box-shadow: 20px 20px 60px #c3c2c0, -10px -10px 30px #ffffff;
}

/* Recipe item image styles */
.recipeItem img {
  border-radius: 1rem;
  box-shadow: 3px 3px 7px -4px rgba(0,0,0,0.75);
  object-fit: cover;
  width: 150px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.recipeItem img:hover {
  transform: scale(1.1);
}

/* Recipe item heading styles */
.recipeItem h2 {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem;
  min-width: 200px;
  text-align: center;
}

/* Recipe item paragraph styles */
/* ul {
  list-style: none;
}

li {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  padding: 1rem;
  color: var(--gris-oscuro);
} */

.recipeItem p {
  font-size: 0.8rem;
  padding: 1rem;
  color: var(--gris-oscuro);
}

/* Recipe item link styles */
.recipeItem a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: 'Caveat', cursive;
  text-align: center;
  background-color: var(--claro-principal);
  color: var(--oscuro-principal);
  height: 3rem;
  width: 100px;
  min-width: 70px;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 7px -4px rgba(0,0,0,0.75);
  line-height: 1rem;
  padding: 0.5rem;
}

/* Recipe item link hover styles */
.recipeItem a:hover {
  background-color: var(--oscuro-principal);
  color: var(--fondo-claro);
}

/* Media query for smaller screens */
@media screen and (max-width:600px) {
  h1 {
    text-align: right;
    padding-right: 1rem;
  }

  .recipeItem {
    flex-direction: column;
  }

  .recipeItem img {
    width: 90%;
    height: auto;
  }

  .recipeItem h2 {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem;
    min-width: 200px;
    text-align: center;
  }
  
  .recipeItem p {
    padding: 0.5rem;
    color: var(--gris-oscuro);
    width: 85%;
    text-align: center;
  }

  .recipeItem a {
    margin: 0.5rem;
    height: 2.2rem;
    width: 80%;
  }

  #icono {
    display: none;
  }
}

@media screen and (max-width: 400px) {

  h1 {
    font-size: 1.5rem;
  }
  
}

